#verticals-section {
    position: relative;
    height: auto;
    width: 100%;
    float: left;
}

.vertical-schedule{
    display: none;
}

.tab {
    float: left;
    width: 20%;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 70%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgba(53, 129, 184, 0.5);
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    border-right: 1px rgb(53, 129, 184) solid;
    border-bottom: 1px rgb(53, 129, 184) solid;
    box-shadow: 0 2px 2px rgba(53, 129, 184, 0.5), 0 2px 2px rgba(53, 129, 184, 0.5);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    float: left;
    padding: 0px 12px;
    padding: 5%;
    margin: 5%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 60%;
    border-left: none;
  }

  .tabcontent.activeDay {
    display: block;
  }